body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-image: url(hii.jpg);
}
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: auto;
}
.card .new-badge {
    position: absolute;
    background-color: #e91e63;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0 0 0 8px;
    top: 0;
    right: 0;
}
.card .new-badge.blue {
    background-color: #00bcd4;
}
.card .new-badge.green {
    background-color: #4caf50;
}
.card .details {
    padding: 15px;
}
.card .details h3 {
    font-size: 16px;
    margin: 10px 0;
    color: #333;
}
.card .details p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}
.card .details .price {
    font-size: 18px;
    color: #000;
    margin: 10px 0;
}