body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
} 
.logoimg{
    border-radius: 20px;
}
.background {
    background-image: url(bac.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.5);
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}
.navbar .right-icons {
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.navbar .right-icons i {
    margin-left: 15px;
}
.logo {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.content {
    padding: 20px;
}
.content h1 {
    font-size: 24px;
    margin: 10px 0;
}
.content p {
    font-size: 18px;
    margin: 10px 0;
}
.content .highlight {
    font-weight: bold;
}
.button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
}
.facebook{
    border-radius: 15px;
}
.instgram{
    border-radius: 15px;
}